@model MainMTaskPageViewModel

@{
    Layout = "_Layout";
}


<script>
 $(document).ready(function() {
            $(".btn-set-status").on("click", function() {
                var id = $(this).attr("data-task-id");
                var status = $(this).attr("data-task-status");
                var url = '@Url.Action("SetMTaskStatus", "MTask")' + '/?idTask=' + id + '&status=' + status;
                $.ajax({
                    type: 'GET',
                    url: url,
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function(response) {
                      location.reload();
                    }
                });
            });
        });
</script>

<div style="margin-bottom: 60px">
    <div class="row">
        <div class="col">
            
            @{
                if (Model.isAuthor)
                {
                    <div class="row">
                        <div class="col">
                            Сдали работу: <span class="badge badge-success" style="width: 30px; height: 20px; margin-top: -20px">@Model.SumCompletedTask</span>
                        </div>
                        <div class="col">
                            Не сдали работу: <span class="badge badge-warning" style="width: 30px; height: 20px; margin-top: -20px">@Model.SumNumCompletedTask</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            Приоритет: <span class="badge badge-info" style="width: 80px; height: 20px; margin-top: -20px">@Model.MTask.MTaskPriority</span>
                        </div>
                        <div class="col">
                            Статус: <span class="badge badge-info" style="width: 120px; height: 20px; margin-top: -20px">@Model.MTask.MTaskStatus</span>
                        </div>
                    </div>

                }
            }

            <div style="margin-top: 30px">
                <h1>@Model.MTask.Title</h1>

                <div class="row">
                    <div class="col" style="text-align: left">
                        <p>@Model.Author.FirstName @Model.Author.SecondName @Model.Author.LastName</p>
                    </div>
                    <div class="col" style="text-align: right">
                        <p>Дата сдачи: @Model.MTask.Deadline</p>
                    </div>
                </div>
                <hr style="margin-top: -10px">

                <div style="margin-top: 20px">
                    <h4>@Model.MTask.Description</h4>
                </div>
                
                <div style="margin-top: 80px">
                    <p>Прикрепленные файлы</p>
                    <hr style="margin-top: -10px">
                    
                    @{
                        foreach (var file in Model.MainFiles)
                        {
                              <div class="card" style="border-radius: 25px; margin-top: 20px">
                                  <div>
                                      <div class="card-body" style="text-align-all: center">
                                          <p class="card-text">@file.Name</p>
                                          
                                          <div class="row">
                                              <div class="col">
                                                  <p class="card-text"><small class="text-muted">PDF</small></p>
                                              </div>
                                              <div class="col" style="text-align: right; margin-right: 10px">
                                                  <a href="@Url.Content(file.Path)" download="@file.Name">
                                                      <p class="card-text"><small class="text-muted">Скачать</small></p>
                                                  </a>
                                                  <a href="@Url.Content(file.Path)">
                                                      <p class="card-text"><small class="text-muted">Открыть</small></p>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        }
                    }
                </div>
            </div>
        </div>
        
        
        @{
            if (Model.isAuthor)
            {
                   <div class="col">
                       <div class="col" style="text-align: left">
                           <div class="row">
                               <a class="nav-link text-light" asp-area=""
                                  asp-route-idTask="@Model.MTask.Id"
                                  asp-route-completed="true"
                                  asp-controller="MTask" asp-action="TaskPerformers">
                                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                       Выполненые работы
                                   </button>
                               </a>
                           </div>
                           
                           <div class="row">
                               <a class="nav-link text-light" asp-area=""
                                  asp-route-idTask="@Model.MTask.Id"
                                  asp-route-completed="false"
                                  asp-controller="MTask" asp-action="TaskPerformers">
                                   <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                                       Не выполненые работы
                                   </button>
                               </a>
                           </div>
                           
                           <div class="row">
                               <a class="nav-link text-light" asp-area=""
                                  asp-route-idTask="@Model.MTask.Id"
                                  asp-controller="MTask" asp-action="DeleteTask">
                                   <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                                       Удалить задачу
                                   </button>
                               </a>
                           </div>
                       </div>
                </div>
            }
            else
            {
            @*Форма для сдачи*@
                <div class="col">
                    <div class="col" style="text-align: left">
                        @{
                            switch (Model.MTask.MTaskStatus)
                            {
                                case MTaskStatus.IN_PROGRESS:
                                {
                                    <form asp-action="SetMTaskShipped" asp-controller="MTask" enctype="multipart/form-data" asp-anti-forgery="true">
                                        
                                        <input type="hidden" asp-for="MTask.Id"/>
                                        
                                        <div class="child-child" style="margin-top: 10px">
                                            <label for="formFileMultiple" class="form-label">Файлы к задаче</label>
                                            <input class="form-control" asp-for="FileUpload.FormFiles" type="file" id="formFileMultiple" multiple>
                                        </div>

                                        <div class="child-child" style="margin-top: 10px">
                                            <button type="button"
                                                    data-task-id="@Model.MTask.Id" data-task-status="@MTaskStatus.SHIPPED" 
                                                    class="btn btn-outline-danger btn-set-status">Отметить как выполненое</button>
                                        </div>
                                    </form>
                                    
                                    break;
                                }
                                case MTaskStatus.SHIPPED:
                                {

                                    <button type="button"
                                            data-task-id="@Model.MTask.Id" data-task-status="@MTaskStatus.IN_PROGRESS" 
                                            class="btn btn-outline-success btn-set-status">Отменить отправку</button>
                                                                                                  
                            
                                    break;
                                }
                                case MTaskStatus.COMPLETED:
                                {
                                    <div class="row">
                                        <button type="button"
                                                data-task-id="@Model.MTask.Id" data-task-status="@MTaskStatus.IN_PROGRESS" 
                                                class="btn btn-outline-success btn-set-status">Вернуть задачу</button>
                                        
                                    </div>
                            
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>





