@model TaskPerformersViewModel

@{
    Layout = "_Layout";
}

<ul class="list-group">
   @{
       foreach (var item in Model.UserTasks)
       {
           <div class="card" style="border-radius: 25px; margin-top: 20px">
               <div>
                   <div class="card-body" style="text-align-all: center">
                       <div class="d-flex align-items-center">
                            <img width="64" height="64" style="border-radius: 50%" alt="User avatar" src="@Url.Content(item.User.PathToAvatar)">
                           <div>
                               <h5 class="mb-0">@item.User.FirstName @item.User.SecondName @item.User.LastName</h5>
                               <p class="mb-0">Состояние выполнения задачи: <span class="badge badge-info" style="width: 120px; height: 20px; margin-top: -20px">@item.MTask.MTaskStatus</span></p>
                           </div>
                       </div>
                       <div class="d-flex justify-content-end mt-3">
                           <button type="button" class="btn btn-outline-secondary me-2">Посмотреть вложенные файлы</button>
                           <button type="button" class="btn btn-outline-success me-2">Принять задачу</button>
                           <button type="button" class="btn btn-outline-danger">Вернуть задачу</button>
                       </div>
                   </div>
               </div>
           </div>
       }
   }
</ul>
