@model MainGroupPageViewModel

@{
    Layout = "_Layout";
}

<style>
    .card-img-top {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 25px 25px 0 0;
    }
    
    .card-body {
      padding: 10px;
    }

</style>

<div style="margin-bottom: 60px">
    
<div class="row" style="text-align: left">
    <div class="col">
        <a class="nav-link text-light" asp-area="" asp-controller="Group" asp-action="CreateGroup">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">  
                Создать группу
            </button>
        </a>
    </div>
    
    <div class="col">
        <form class="form-signin" asp-action="InviteLink" asp-controller="Group" asp-antiforgery="true">
             <div class="child">
                 <!-- Email input -->
                 <div class="child-child">
                     <input class="form-control" asp-for="Link" placeholder="Пригласительная ссылка"/>
                     <span asp-validation-for="Link"/>
                 </div>
                 
                 <div class="child-child">
                     <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ввести</button>
                 </div>
             </div>
         </form>
    </div>
</div>


@{
    int groupingsNewProducts = 2;
    var groupedNewProducts = Model.UserGroups
      .Select((x, i) =>
        new
        {
          x, i = i / groupingsNewProducts
        })
      .GroupBy(x => x.i, x => x.x);
  }

@{
    if (Model.UserGroups.Count > 0)
    {
          @foreach (var items in groupedNewProducts)
          {
              <div class="row" style="margin-top: 25px">
                  @foreach (var item in items)
                  {
                      
                      <div class="card mb-3" style="width: 33rem; border-radius: 25px; padding: 0px; margin-left: 20px">
                          <img src="@Url.Content(item.Group.PathToImage)" class="card-img-top">
                          <a asp-controller="Group" asp-action="GroupPage" asp-route-id="@item.Group.Id"
                             style="text-decoration: none; text-decoration-color: black; color: black;">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col">
                                          <h5 class="card-title" style="margin-top: 10px">@item.Group.Name</h5>
                                      </div>
                              
                                      <div class="col">
                                          <div class="right" style="margin-right: 10px; text-align: right">
                                              @if (item.IsAdmin)
                                              {
                                                  <span class="badge badge-primary" style="width: 95px; height: 20px">Админ</span>
                                              }
                                              else
                                              {
                                                  <span class="badge badge-secondary" style="width: 95px; height: 20px">Участник</span>
                                              }
                                          </div>
                              
                                      </div>
                                  </div>
                              
                                  <p class="card-text">@item.Group.Description</p>
                                  <p class="card-text"><small class="text-muted">Количество проектов в группе: @item.Group.Projects.Count</small></p>
                              </div>
                          </a>
                      </div>
                  }
              </div>
          }
    }
    else
    {
        <h5 class="personal-data__data-title" style="margin-top: 40px; margin-left: 15px">В группах пусто</h5>
    }
}
</div>