@model AccountHomeViewModel

@{
    Layout = "_Layout";
}

<script>
function submitForm() {
    var form = document.forms[0];
    form.submit();
}

</script>

<body class="text-center" style="margin-bottom: 100px">
<div class="panel" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="UploadAvatar" asp-controller="Account" enctype="multipart/form-data" method="post">
                    <input type="file" id="fileInput" accept="image/jpeg,image/png" name="uploadedFile" style="display: none;" onchange="submitForm()">
                    <label for="fileInput">
                        <div class="user-photo">
                            <div class="user-photo__img-wrap img-plug" style="border-radius: 50%">
                                <img width="64" height="64" style="border-radius: 50%" alt="User avatar" src="@Url.Content(Model.User.PathToAvatar)">
                            </div>
                        </div>
                    </label>
                </form>
            </div>
            <div class="col-8">
                <h2 class="personal-data__header">
                    <span>@Model.User.SecondName @Model.User.FirstName @Model.User.LastName</span>
                </h2>
            </div>
            <div class="col">
                <div class="right">
                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                            Выйти
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="margin-top-40">
            <div class="row">
                <div class="col">
                    <h3 class="personal-data__data-title">Email</h3>
                    <p class="personal-data__data">@Model.User.Email</p>
                </div>
                <div class="col">
                    <h3 class="personal-data__data-title">Логин</h3>
                    <p class="personal-data__data">@Model.User.Login</p>
                </div>
                <div class="col">
                    <h3 class="personal-data__data-title">Телефон</h3>
                    <p class="personal-data__data">@Model.User.Phone</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
